
.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 30vh auto;
    padding: 25px;

}

.mytabs input[type="radio"]{

    display: none;
}

.mytabs label {

    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
}

.mytabs .tab {

     width: 100%; 
     padding: 20px;
     background: white;
     order:1;
     display: none
}
.mytabs .tab h2 {
    
    font-size: 3em;
}

.mytabs input[type="radio"]:checked + label + .tab {  /*if next element is a label and next element after that label is a tab then do 
    + sign is for next element*/

    display: block;  
}

.mytabs input[type ="radio"]:checked + label {

    background: white;
}